<div class='row'>
		<div  id='contentBox' class='span8'>
			<div class='content_section'>
				<div class='content_header'>Dashboard</div>
				<div class='content_body' id='scalarPanel'>

				</div>
			</div>

		</div>
		<div  class='span4'>
			<div class='content_section'>
			<div class='content_header'>Activity</div>
			<div id='feedBox' class='content_body'>
			<ul>

			</ul>
			</div>
		</div>
		</div>
	</div>
<script src="http://<%=@node_config[:host]%>:<%=@node_config[:port]%>/socket.io/socket.io.js"></script>
<script type="text/javascript" id='bootstrapping'>
	
	SwitchB.DataInit = {}
	SwitchB.node_config= <%=raw( @node_config.to_json ) %>;	
	SwitchB.DataInit.calls = function(){
  	var calls = new Backbone.Collection();
  	calls.reset(<%= raw( @calls.to_json ) %>);
  	return calls;
   }
	
	SwitchB.DataInit.calls = function(){
  	var callers = new Backbone.Collection();
  	callers.reset(<%= raw( @callers.to_json )%>);
  	return callers;
   }

	SwitchB.DataInit.EventFeed = function(){
  	var events = new SwitchB.Models.EventFeed();
  	events.reset(<%= raw( @events.to_json )%>);
  	return events;
   }
  
  SwitchB.DataInit.globals = <%=raw( @globals.to_json ) %>;

	SwitchB.DataInit.cleanup = function(){
		SwitchB.DataInit = null;
		//kill off this tag, for cleanliness
		$('#bootstrapping').remove()
	}




</script>
<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new SwitchB.Routers.home()
    Backbone.history.start();
  });
</script>
