<!DOCTYPE html>
<html>
<head>
  <title>Switchboard</title>
  <%= stylesheet_link_tag    "splash", :media => "all" %>
  <%= javascript_include_tag "splash" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id='banner' class='jumbotron subhead'>
	<div class='container'>
		<div class='row'>
			<div id='titleTag' class='span7'>
				<h1>Offroed Switchboard</h1>
				<p>Playing around with cloud telephony</p>
			</div>
		</div>
	</div>
</header>
<div id='main' class='container'>
	<div class='row'>
		<div  id='contentBox' class='span7'>
		<%= yield %>
		</div>
		<div  class='span4'>
			<h2>Current Activity</h2>
			<div id='feedBox'>
			<ul>
				<li>
					<div class='activityTitle'>01:34 - Voice from: 6XX-XXX-3542</div>
					
					<div class='activityResult'>recorded message</div>
				</li>
			</ul>
			<ul>
				<li>
					<div class='activityTitle'> 15:23 - Inbound SMS from: 6XX-XXX-3542</div>
					<div class='activityContent'>Hey there what's going on Here,Hey there what's going on Here,Hey there what's going on Here</div>
					<div class='activityResult'>SMS reply "thanks!"</div>
				</li>
			</ul>
			<ul>
				<li>
					<div class='activityTitle'>01:34 - Voice from: 6XX-XXX-3542</div>
					
					<div class='activityResult'>recorded message</div>
				</li>
			</ul>
			</div>

		</div>
	</div>
</div>
<footer id='main-bottom' class="navbar-fixed-bottom">
	<div class='footer'>
		<div class='row'>
			
			<div id='envInfo' class='span5 offset1'>
			Env: <%=Rails.env%><br><%=Rails.application.config.repo_info%>
			</div>
			<div  class='offset6 span4'>
			Built in Columbus Ohio - 2013
			</div>
		</div>
	</div>
</footer>

</body>
</html>
